*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin-left: 0px;
}
.active{
    background-color: eeffee;
}
header, footer{
    margin: 20px;
}
section{
    padding: 20px;

}
section.sound{
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #9999ff;
    margin-left: 0px;
    transition-duration: 500ms;
}
section.sound.active{
    border-color: #99ff99;
}
section.sound:hover{
    border-left-color: #6666ff;
}
section.active:hover{
    border-left-color: #77ff77;
}
section.sound > h2{
    transition-duration: 500ms;
    margin-left: 20px;
}
section.sound:hover > h2{
    letter-spacing: 3px;
}
button{
    border-radius: 5px;
    border-width: 2px;
}